/* .footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-item {
  margin: 0 10px;
} */


.backgroundImage {
  background-image: url("../Assets/bg.jpg");
  background-size: auto; 
  background-position: center;
  background-repeat: no-repeat; /* Untuk mencegah pengulangan gambar */
}

.horizontal-list {
  display: flex; /* Mengatur elemen menjadi flex container */
  list-style-type: none; /* Menghilangkan bullet points dari list */
  padding: 0; /* Menghapus padding default */
}

.horizontal-list li {
  margin-right: 5px; /* Jarak antar elemen */
}

.horizontal-list li:last-child {
  margin-right: 0; /* Menghapus margin kanan untuk elemen terakhir */
}

.link {
  text-decoration: none; /* Menghilangkan garis bawah */
  color: black; /* Mengubah warna tautan */
}
  
.link:hover {
  color: #fff; /* Mengubah warna tautan saat dihover */
}
  